$color: blue;

.page-header {
    text-align: center;
}

.inline {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 3rem;
}

.toppings {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
}